// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: "Comfortaa" !important;
$heading-font-family: "Comfortaa" !important;
$font-size-root: 16px;
